<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://comp2007lab.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>comp2007lab.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Comp2007Lab</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Comp2007Lab</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Comp2007Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ctc57igfpb.database.windows.net,1433;Initial Catalog=Comp2007Lab_db;User ID=gc200203355@ctc57igfpb;Password=rusty2@" Name="Data Source=tcp:ctc57igfpb.database.windows.net,1433;Initial Catalog=Comp2007Lab_db;User Id=gc200203355@ctc57igfpb;Password=rusty2@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication1.Models.Comp2007Entities, WebApplication1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Comp2007Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:ctc57igfpb.database.windows.net,1433;Initial Catalog=Comp2007Lab_db;User Id=gc200203355@ctc57igfpb;Password=rusty2@"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>